hw2/__pycache__/__init__.cpython-38.pyc
hw2/__pycache__/grad_compare.cpython-38.pyc
hw2/__pycache__/layers.cpython-38.pyc
hw2/__pycache__/answers.cpython-38.pyc
hw2/__pycache__/optimizers.cpython-38.pyc
hw2/__pycache__/training.cpython-38.pyc
hw2/__pycache__/answers.cpython-38.pyc
hw2/__pycache__/classifier.cpython-38.pyc
hw2/__pycache__/mlp.cpython-38.pyc
hw2/__pycache__/training.cpython-38.pyc
hw2/__pycache__/answers.cpython-38.pyc
hw2/__pycache__/classifier.cpython-38.pyc
hw2/__pycache__/cnn.cpython-38.pyc
hw2/__pycache__/experiments.cpython-38.pyc
hw2/__pycache__/training.cpython-38.pyc
cs236781/__pycache__/plot.cpython-38.pyc
hw2/__pycache__/training.cpython-38.pyc
hw2/__pycache__/answers.cpython-38.pyc
cs236781/__pycache__/plot.cpython-38.pyc
